@model BaiTapLon.Models.SanPham

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    List<DanhMuc> listDanhMuc = (List<DanhMuc>)ViewData["DanhMuc"];
}


<div class="container">
    <h1 class="text-center">Sửa sản phẩm</h1>
    <div class="row">
        <div class="col-md-6 mx-auto rounded border p-4">
            <form asp-action="Edit", new { enctype = "multipart/form-data" }>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <input type="hidden" asp-for="HinhAnh" />
                <div class="form-group">
                    <label asp-for="TenSanPham" class="control-label"></label>
                    <input asp-for="TenSanPham" class="form-control" required/>
                    <span asp-validation-for="TenSanPham" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DanhMucID" class="control-label"></label>
                    <select id="selectDanhMuc" asp-for="DanhMucID" class="form-control">
                        @foreach(var i in listDanhMuc)
                        {
                            <option value="@i.ID">@i.TenDanhMuc</option>
                        }
                    </select>
                    <span asp-validation-for="DanhMucID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="fileInput" class="control-label">Upload File</label>
                    <input id="fileInput" name="file" type="file" class="form-control-file">
                </div>
                <div class="form-group">
                    <label asp-for="Gia" class="control-label"></label>
                    <textarea asp-for="Gia" class="form-control" required></textarea>
                    <span asp-validation-for="Gia" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MoTa" class="control-label"></label>
                    <textarea asp-for="MoTa" class="form-control" required></textarea>
                    <span asp-validation-for="MoTa" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="text-center mt-3">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>




<script>
    var selectedValue = "@Model.DanhMuc.ID"; // Giá trị đã được chọn từ trước

    // Thiết lập thuộc tính 'selected' cho phần tử option
    var selectElement = document.getElementById('selectDanhMuc');
    for (var i = 0; i < selectElement.options.length; i++) {
        var optionValue = selectElement.options[i].value;
        if (optionValue === selectedValue) {
            selectElement.options[i].selected = true;
            break;
        }
    }
</script>